---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/Default.astro";
import BlogPostItem from "../components/BlogPostItem.astro";
const title = "Blog";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((post) => {
    const id = post.id.split("/").pop();
    return {
      ...post,
      id,
      slug: id,
    };
  });
---

<DefaultLayout title={title}>
  <h1 class="font-serif text-6xl font-bold pb-12">Blog.</h1>
  {
    posts.map((post) => (
      <BlogPostItem
        url={`/blog/${post.slug}`}
        title={post.data.title}
        date={post.data.date}
      />
    ))
  }
</DefaultLayout>
