---
import Link from "../components/Link.astro";
import DefaultLayout from "../layouts/Default.astro";
const title = "Mentoring";
---

<DefaultLayout title={title}>
  <h1 class="font-serif text-6xl font-bold pb-12">Mentoring.</h1>
  <div class="prose max-w-none">
    <p>
      As you know, I'm a software developer with over a decade of experience in
      the tech industry. I've been lucky to work on some fantastic projects and
      collaborate with brilliant minds. I also had experience in teaching and
      mentoring developers in the past. Now, I'd love to give back to the
      community by offering free mentoring sessions in a more structured way.
    </p>

    <h2>Why am I doing this?</h2>
    <ul>
      <li>
        <strong>Community Support</strong>: I wouldn't be where I am without the
        support of mentors I had, so I want to pay it forward.
      </li>
      <li>
        <strong>Diverse Perspectives</strong>: I believe that everyone brings
        something unique to the table. I love learning from others as much as
        sharing my own experiences.
      </li>
      <li>
        <strong>Transparency</strong>: Moving to a new country, navigating
        career changes, or breaking into tech can be confusing. I've been
        through it all, and I want to offer you a no-nonsense approach to
        tackling these challenges.
      </li>
    </ul>

    <h2>What can you expect?</h2>
    <p>
      I'm here to help you, whether you're just starting out or looking to make
      a change. I can help you with:
    </p>
    <ul>
      <li>
        <strong>Resume review</strong>: I can give you feedback on your resume,
        so you could have a better chance at applying for jobs.
      </li>
      <li>
        <strong>Portfolio and Project review</strong>: Receive guidance on how
        to showcase your skills effectively, and to enhance the quality and
        impact of your personal or professional projects.
      </li>
      <li>
        <strong>Moving to the Netherlands</strong>: Understand what it takes to
        establish yourself in a new country. What are pros and cons of living in
        the Netherlands and what to expect.
      </li>
      <li>
        <strong>Interview Tips</strong>: Get better of showcasing your skills
        and making a lasting impression in interviews.
      </li>
    </ul>

    <h2>How to Book a Session</h2>
    <p>
      I'm currently offering 30-minute sessions on a limited days per week. If
      you're interested.
    </p>
    <ul>
      <li>
        <strong>Check Availability</strong>: Look through the calendar on
        Calendly and find a time slot that works for both of us. Please be aware
        of the timezone difference when selecting the time.
      </li>
      <li>
        <strong>Submit a Request</strong>: Fill in the form with your name,
        email, and the topics you'd like to discuss. I like to know how can I
        help you.
      </li>
      <li>
        <strong>Confirmation</strong>: Wait for an email confirming the booking
        and providing you with the necessary details to join the virtual
        meeting.
      </li>
    </ul>

    <div class="my-12 text-center">
      <Link
        to="https://calendly.com/p3yman/mentoring"
        size="lg"
        target="_blank"
      >
        Book a 30-minutes session
      </Link>
    </div>
  </div>
</DefaultLayout>
