---
import DefaultLayout from "../layouts/Default.astro";
const title = "404 | Peyman Eskandari | Front-End Developer";
---

<DefaultLayout title={title}>
  <h1 class="font-serif text-6xl font-bold pb-12">404.</h1>
</DefaultLayout>
