---
import Layout from '../layouts/Default.astro';
const title = "Peyman Eskandari | Front-end Developer";
---

<Layout title={title}>
	<section class="pt-36 pb-64">
		<h1 class="text-3xl font-serif mb-10 leading-relaxed font-light text-secondary">Hi, I’m <b class="font-bold">Peyman</b>, a front-end <span class="whitespace-nowrap">&lt;developer /&gt;</span> focused on building products that are beautiful from the inside out.</h1>
	</section>
</Layout>