---
const year = new Date().getFullYear();
---

<div
  class="text-center border-t border-gray-lighter font-mono text-sm leading-relaxed mt-24 py-12 text-gray-light"
>
  {year}. Inspired from a lot of websites and developed by copying from
  tutorials (just kidding <span role="img" aria-label="Grimacing Face">😬</span
  >).
</div>
