---
import logo from "../assets/images/logo.svg";
---

<header class="pt-12 pb-24 flex justify-between">
  <a aria-current="page" href="/">
    <img src={logo} alt="Peyman Eskandari" class="w-10" />
  </a>
  <ul class="flex justify-between space-x-6">
    <li>
      <a
        class="font-mono uppercase text-secondary hover:text-primary"
        href="/blog/"
      >
        <span data-hover="Blog">Blog</span>
      </a>
    </li>
    <li>
      <a
        class="font-mono uppercase text-secondary hover:text-primary"
        href="mailto:peyman.eskandari@gmail.com"
      >
        <span data-hover="Contact">Contact</span>
      </a>
    </li>
  </ul>
</header>
