---
const { title } = Astro.props;
---

<section class="flex py-40">
  <div
    class="text-primary shrink-0 font-mono font-bold tracking-[4px] mr-16 text-right w-28 uppercase"
  >
    {title}
  </div>
  <div class="w-full">
    <slot />
  </div>
</section>
