---
import Layout from './Default.astro';

const { frontmatter } = Astro.props;
---
<Layout>
  <header class="pb-12">
    <h1 class="text-gray-dark text-5xl font-black leading-snug pb-6 font-serif">{frontmatter.title}</h1>
    <div class="font-mono text-sm text-gray-light flex space-x-4"><div>May 05, 2023</div><span> | </span><div>5 min read</div></div>
  </header>
  <slot />
</Layout>