---
import AdminLayout from "../../layouts/Admin.astro";
---

<AdminLayout title="Admin">
  <h1 class="font-serif text-2xl font-bold pb-12">Dashboard</h1>
  <p class="text-lg text-gray-light">
    Welcome to the admin panel. Here you can manage your blog posts.
  </p>
</AdminLayout>
